{{ form_start(genusForm) }}
    {{ form_errors(genusForm) }}

    {{ form_row(genusForm.name) }}
    {{ form_row(genusForm.subFamily, {
        label: 'taxonomic subfamily',
        attr: {
            class: 'foo',
        },
        placeholder: 'Select a subfamily'
    }) }}
    {{ form_row(genusForm.speciesCount, {
            'label': 'Number of species',
        }) }}
    {{ form_row(genusForm.funFact, {
    }) }}
    {{ form_row(genusForm.isPublished) }}


    {{ form_label(genusForm.firstDiscoveredAt) }}
    {{ form_errors(genusForm.firstDiscoveredAt) }}

    {{ form_label(genusForm.firstDiscoveredAt.year) }}
    {% do genusForm.firstDiscoveredAt.year.setRendered() %}
    <select id="{{ genusForm.firstDiscoveredAt.year.vars.id }}"
            name="{{ genusForm.firstDiscoveredAt.year.vars.full_name }}">
        {% for choice in genusForm.firstDiscoveredAt.year.vars.choices %}
            <option value="{{ choice.value }}" {{ choice.value == genusForm.firstDiscoveredAt.year.vars.data ? ' selected' : ''}}>
                {{ choice.label }}
            </option>
        {% endfor %}
    </select>


    {{ form_errors(genusForm.firstDiscoveredAt.year) }}

    {{ form_row(genusForm.firstDiscoveredAt.month) }}
    {{ form_row(genusForm.firstDiscoveredAt.day) }}

<button type="submit" class="btn btn-primary" formnovalidate>Save</button>
{{ form_end(genusForm) }}

