{% use 'bootstrap_3_layout.html.twig' %}

{% block form_row -%}
    {% set showErrorIcon = (not compound or force_error|default(false)) and not valid %}
    <div class="cool-class form-group{% if (not compound or force_error|default(false)) and not valid %} has-error{% endif %}{{ showErrorIcon ? ' has-feedback' : '' }}">
        {{- form_label(form) -}}
        {% if help|default %}
            {% set attr = attr|merge({'aria-describedby': 'help-block-'~id }) %}
        {% endif %}
        {{- form_widget(form, {
            attr: attr
        }) -}}
        {% if help|default %}
            <small id="help-block-{{ id }}" class="form-text text-muted">
                {{ help }}
            </small>
            {% endif %}
        {{- form_errors(form) -}}
    </div>
{%- endblock form_row %}

{% block form_widget_simple -%}
    {% set showErrorIcon = false %}
    {% if type is not defined or type not in ['file', 'hidden'] %}
        {% set showErrorIcon = (not compound or force_error|default(false)) and not valid %}
    {% endif %}
    {{- parent() -}}
    {% if showErrorIcon %}
        <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
    {% endif %}
{%- endblock form_widget_simple %}